<h1>Printer usage and setup notes</h1>
<h2>Usage</h2>
	<ul>
		<li>Make sure that you are on same subnet (gieslink) as printer</li>
		<li>Test on <a href="http://labelary.com/viewer.html">http://labelary.com/viewer.html</a></li>
		<li>Run from commandline like:  ./makelabels.php -t label_template_45w_12h.zpl</li>
	</ul>
<h2>Setup</h2>
<h3>Hardware</h3>
	<ul>
		<li>Ref: <a href="./SL4M/users.pdf">users.pdf</a></li>
		<li>Adjust media hanger guide</li>
		<li>Adjust media sensor assembly</li>
		<li>Adjust pressure knob (only visible when deck lock is in locked position)</li>
		<li>As required by RFID tag, set encoder position color thingy under front lower panel</li>
	</ul>
<h3>Firmware</h3>
	<ul>
		<li>Ref: <a href="./SL4M/users.pdf">users.pdf</a></li>
		<li>Down and enter to enable enter</li>
		<li>Configuration Setup
			<ul>
				<li>Set as required</li>
				<li></li>
			</ul>
		</li>
		<li>Media Setup
			<ul>
				<li>Adjust length and width</li>
				<li></li>
			</ul>
		</li>
		<li>Printer Setup
			<ul>
				<li>(Go into advanced mode as required)</li>
				<li></li>
			</ul>
		</li>
		<li>RFID Setup
			<ul>
				<li>Ref: <a href="./SL4M/rfid.pdf">rfid.pdf</a>,  <a href="./SL4M/P180030-001_Rev_C-RFID-Inlay-Placement-Guidelines.pdf">P180030-001_Rev_C-RFID-Inlay-Placement-Guidelines.pdf</a> and example <a href="./SL4M/185290-000_Rev_B.pdf">185290-000_Rev_B.pdf</a></li>
				<li>Tag type (e.g. for ALN-9710 on SL4M MP2 Std Pitch, use Tag Type: “Alien9720 HiScn”)</li>
				<li>Custom calibrate (e.g. for ALN-9710, Custom Tag Position was set to -1.2)</li>
			</ul>
		</li>
	</ul>

